body {
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: #e5e7eb;
  margin: 0;
  padding: 0;
}

header {
  background: #020617;
  padding: 30px;
  text-align: center;
}

section {
  padding: 30px;
}

h1, h2 {
  color: #38bdf8;
}

.project {
  background: #020617;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 8px;
}

a {
  color: #22c55e;
  text-decoration: none;
}

.contact {
  background-color: #020617;
  margin: 30px;
  padding: 30px;
  border-radius: 12px;
}

.contact a {
  color: #38bdf8;
  text-decoration: none;
  font-weight: bold;
}

.social-links {
  margin-top: 15px;
}

.social-links a {
  display: inline-block;
  margin-right: 15px;
  padding: 10px 16px;
  background: #0f172a;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.social-links a:hover {
  background: #38bdf8;
  color: #020617;
  transform: translateY(-3px);
}

.resume {
  background: #22c55e !important;
  color: #020617 !important;
}

.profile-img {
    width: 140px;        /* control size */
    height: 140px;
    border-radius: 50%;  /* circle image */
    object-fit: cover;
    border: 3px solid #00e5ff; /* neon gaming border */
    box-shadow: 0 0 15px rgba(0, 229, 255, 0.6);
}
