body {
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: #e5e7eb;
  margin: 0;
  padding: 0;
}

header {
  background: #020617;
  padding: 30px;
  text-align: center;
}

section {
  padding: 30px;
}

h1, h2 {
  color: #38bdf8;
}

.project {
  background: #020617;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 8px;
}

a {
  color: #22c55e;
  text-decoration: none;
}
